* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
   body {
      background-color: lightblue;
   }
}

html {
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   font-size: 10px;
}

body {
   background-color: lightblue;
   font-size: 1.6rem;
   min-width: 100vw;
}

div p {
   width: 80px;
   height: 80px;
}

main {
   margin: 0 auto;
   max-width: 110rem;
   min-height: 100vh;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   text-align: center;
}

.background-white {
   background-color: #fff;
   color: #333;
}
.background-dark {
   background-color: #333;
   color: #fff;
}
.background-blue {
   background-color: #4267b2;
}
.background-yellow {
   background-color: #c7900a;
}

.weather {
   height: 15rem;
   width: 30rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
   margin-left: auto;
   margin-right: auto;
   padding: 1rem;
   border: 0.5rem;
   border-color: #4267b2;
   border-radius: 2rem;
}
.weather-conditions {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.profile-photo {
   width: 25rem;
   height: 25rem;
   object-fit: cover;
   border-radius: 50%;
   box-shadow: 0.1rem 0.1rem 0.3rem 0.4rem #4267b2;
}

#description {
   color: #29487d;
}

h1 {
   text-align: center;
   font-size: 4rem;
   padding: 2rem;
}

h2 {
   padding: 1rem;
}

h3 {
   padding-bottom: 1rem;
}

p {
   font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
   font-size: 19px;
}

li {
   list-style: none;
}

li a {
   color: white;
   display: flex;
   width: 100%;
   padding: 1.5rem;
}

li a:hover {
   background: #29487d;
}

li a:focus {
   color: #000000;
   outline-color: #666666;
}

ol {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
}

nav {
   margin: 0 auto;
   background: #4267b2;
   max-width: 110rem;
   min-height: 10vh;
}

a {
   text-decoration: none;
}
